.table td, .table th { 
  font-size: 0.875rem; 
  }
  
  .btn-outline-search
  {
  color: #2196f3;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  }
  .btn-left
  {
  margin-left: 430%;
  background: rgb(218, 229, 243);
  }
  
  
  .table td, .table th { 
  font-size: 0.875rem; 
  }
  
  
  .btn-left
  {
  margin-left: 430%;
  background: rgb(218, 229, 243);
  }
  
  
  .btn.btn-outline-search {
  color: rgba(0, 0, 0, 0.5);
  }
  
  .btn-outline-search {
  color: #e6eef2;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  }
  
  #control_wrapper {
  width: 190px;
  margin-right: 50px;
  }
  .date-range-picker-icon {
  margin-left: -18px;
  margin-top: 5px;
  z-index: 1;
  }