.btn.btn-outline-search {
  color: rgba(0, 0, 0, 0.5);
  }
  
  .btn-outline-search {
  color: #e6eef2;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  }
  
  #control_wrapper {
  width: 190px;
  }
  .date-range-picker-icon {
  margin-left: -18px;
  margin-top: 5px;
  z-index: 1;
  }
  
  
  .p-effect{
  margin-left: 1%;
  }
  
  
  .custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  }
  .custom-day.focused {
  background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
  }
  .custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
  }
  .btn.btn-outline-search {
  color: rgba(0, 0, 0, 0.5);
  }
  
  .btn-outline-search {
  color: #e6eef2;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  }
  select.custom-select {
  margin: 0.5rem 0.5rem 0 0;
  width: auto;
  }
  
  a {
  cursor: pointer;
  }
  
  
  .simple-hidden { position: fixed;
  ; } 
  