
.btn.btn-outline-search {
  color: rgba(0, 0, 0, 0.5);
  }
  
  .btn-outline-search {
  color: #e6eef2;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  }
  
  
  
  #control_wrapper {
  width: 195px;
  }
  .date-range-picker-icon {
  margin-left: -20px;
  margin-top: 5px;
  z-index: 1;
  }