
.table td, .table th {  
    font-size: 0.875rem;  
}


.entete {
    background-color: white;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
     color: black;
}