.card.card-add {
  background:  #e6f2ff;
  color: #fff;
  font-size:60px;
}

.card.card-add i {

  font-size:60px;
  color:red;
}

.checkbox-space {
  margin-left: 10px;
  }


.errspan {
  float: right;
  margin-right: 6px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  color: red;
}




