

  .btn.btn-outline-search {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .btn-outline-search {
    color: #e6eef2;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
  }
  .kendo-pdf-export {
    font-family: "DejaVu Sans", "Arial", sans-serif;
    font-size: 12px;
  }

    
    .scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
    
    .scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, rgba(194, 192, 192, 0.945) 0%, #F5F5F5 100%);
    background-image: linear-gradient(120deg, rgba(194, 192, 192, 0.945) 0%, #F5F5F5 100%); }
   
    .example-1 {
    overflow-y: scroll;
    height: 150px; }


    
  .p-effect{
    margin-left: 1%;
}




.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.btn.btn-outline-search {
  color: rgba(0, 0, 0, 0.5);
}

.btn-outline-search {
  color: #e6eef2;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
}
select.custom-select {
  margin: 0.5rem 0.5rem 0 0;
  width: auto;
}

#control_wrapper {
  width: 190px;
 }
 

a {
  cursor: pointer;
}


.btn.btn-outline-search {
  color: rgba(0, 0, 0, 0.5);
  }
  
  .btn-outline-search {
  color: #e6eef2;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  }
  .kendo-pdf-export {
  font-family: "DejaVu Sans", "Arial", sans-serif;
  font-size: 12px;
  }
  
  
  .scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, rgba(194, 192, 192, 0.945) 0%, #F5F5F5 100%);
  background-image: linear-gradient(120deg, rgba(194, 192, 192, 0.945) 0%, #F5F5F5 100%); }
  
  .example-1 {
  //position: relative;
  overflow-y: scroll;
  height: 150px; }
  
  
  /****************************************/
  
  
  .p-effect{
  margin-left: 1%;
  }
  
  
  
  
  .custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  }
  .custom-day.focused {
  background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
  }
  .custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
  }
  .btn.btn-outline-search {
  color: rgba(0, 0, 0, 0.5);
  }
  
  .btn-outline-search {
  color: #e6eef2;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  }
  select.custom-select {
  margin: 0.5rem 0.5rem 0 0;
  width: auto;
  }
  
  #control_wrapper {
  width: 190px;
  }
  .date-range-picker-icon {
  margin-left: -18px;
  margin-top: 5px;
  z-index: 1;
  }
  
  
  
  a {
  cursor: pointer;
  }