<div class="d-flex align-items-center auth auth-bg-1 theme-one">
    <div class="row w-100">
       <div class="col-lg-8 mx-auto">

            <div class="container">
                    <div class="row">
                      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                        <div class="card card-signin my-5">
                          <div class="card-body">
                            <h5 class="card-title text-center">Sign In</h5>
                            <button class="btn btn-lg btn-google btn-block " (click)="SignInWithGoogle()" ><i class="fa fa-google mr-2"></i> Sign in with Google</button>
                            <button class="btn btn-lg btn-facebook btn-block " (click)="SignInWithFacebook()" ><i class="fa fa-facebook-f mr-2"></i> Sign in with Facebook</button>
                          
                              <hr class="my-4" > 
                              <h5 class="card-title text-center"> Or Sign Up</h5>

                              &nbsp;
                              &nbsp;
                              &nbsp;
                              &nbsp;
                              &nbsp;
                              &nbsp;
                              &nbsp;
                              &nbsp;
                              &nbsp;
                              &nbsp;

                              <button class="btn btn-social-icon btn-google mx-1" (click)="SignUpWithGoogle()">
                                    <span class="fa fa-google"></span>
                              </button>
                                <button class="btn btn-social-icon btn-facebook mx-1" (click)="SignUpWithFacebook()">
                                    <span class="fa fa-facebook"></span>
                                </button>                          
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
    </div>
</div>
